@charset "utf-8";
/* CSS Document */
.hadder
{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 80px;
    z-index: 10;
    text-align: center;
    background-color: rgba(0,0,0,0.70);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
	position: fixed;
}
.logo{
    float: left;
    left: 15px;
    top: 20px;
    margin-left: 42px;
    margin-top: 5px;
}
.name{
    float: left;
    color: #FFFFFF;
    margin-left: 99px;
    margin-top: 8px;
    font-family: "宋体";
}
.name div{
    width: 130px;
    text-align: center;
    float: left;
    padding-right: 0px;
    padding-top: 5px;
    border-bottom-right-radius: 0px;
}
.name a{
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    font-family: "仿宋";
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.Search{
    position: absolute;
    top: 18px;
    right: 15px;
    margin-top: 10px;
    margin-right: 20px;
	
}
.name a:hover{
    font-size: 20px;
    color: #D0CDB9;
    font-weight: 200;
}
.kong{
    width: 1920px;
    margin: auto;
    position: relative;
    height: 1080px;
}
.fazan{
    background-image: url("../img/beijing/shang.png");
    width: 1920px;
    height: 1080px;
    margin-top: 6px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    position: relative;
}
.tu {
    background: #FFFFFF;
    width: 1920px;
    height: 1020px;
    margin: auto;
    position: relative;
    text-align: center;
    padding-top: 60px;
}
#tu1{
	position: absolute;
	top: 60px;
	left: 150px;
	z-index: 2;
}
#tu2{
	position: absolute;
	top: 60px;
	left: 150px;
	z-index: 3;
	visibility: visible;
	opacity:0;
	} 
.kuang{
    width: 1920px;
    height: 1080px;
    margin: auto;
    position: relative;
    background-color: #FFFFFF;
    padding-top: 0px;
}
.zhuang {
    height: 755px;
    width: 1920px;
    padding-top: auto;
    margin: auto;
    position: relative;
}

.kuang1{
		width: 1920px;
	height: 540px;
	margin: auto;
    position: relative;
}
.kuang2{
		width: 1920px;
	height: 540px;
	margin: auto;
    position: relative;

}
.zi {
    text-align: left;
    font-family: "黑体";
    color: #6E6E6E;
    font-size: 23px;
    text-indent: 0;
    line-height: 50px;


}
tr td .zi1 {
    padding-right: 163px;
}
tbody tr .zi {
}
tbody tr .zi.zi2 {
    text-align: right;
}
.mo{width: 1920px;
	height: 1080px;
	margin: auto;
    position: relative;
	background-color: #FFFFFF;
	
}
.suc{
    width: 100%;
    text-align: left;
    margin-left: 150px;
    padding-top: 43px;
}.mo .suc .dian {
    padding-top: 0px;
    margin-left: 34px;
    margin-bottom: 20px;
}
.suc p .zi {
    padding-top: 0px;
    margin-top: -56px;
}
.mo .di {
    margin-top: -102px;
}
